fieldset{
  width: 1000px;
  margin: 0 auto;
}
#wrapper{
  display: block;
  width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
  padding: 2px 10px;
}
li:not(:nth-last-of-type(1)){
  border-right: 1px groove black;
}
a{
  font-weight: bold;
  color: blue;
}